.layout {
    height: 100vh;
    padding-top: var(--header-height);

    .ant-layout-sider {
        flex: unset !important;
        width: var(--aside-width) !important;
        max-width: var(--aside-width) !important;
        min-width: var(--aside-width) !important;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        transition: all 0.2s ease-in-out;
        z-index: 1000;

        &~.layout-wrapper {
            padding-left: calc(var(--aside-width) + 24px);
            transition: all 0.2s ease-in-out;

            @include devices(sm) {
                padding-left: 24px;
            }
        }

        &~.sider-overlay {
            background-color: rgb(0, 0, 0, 0.3);
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
            opacity: 0;
            visibility: hidden;
        }

        &.ant-layout-sider-collapsed~.header,
        &.ant-layout-sider-collapsed~.layout-wrapper,
        &.ant-layout-sider-collapsed {
            --aside-width: 86px;

            @include devices(sm) {
                --aside-width: 300px;
            }

            &~.sider-overlay {
                @include devices(sm) {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        @include devices(sm) {
            transform: translateX(-100%);
        }

        &.ant-layout-sider-collapsed {
            @include devices(sm) {
                z-index: 1000;
                transform: translateX(0%);
            }
        }
    }

    .header {
        width: calc(100% - var(--aside-width));

        @include devices(sm) {
            width: 100%;
        }
    }

    &-wrapper {
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.auth {
    height: 100vh;
    padding: 32px;

    &-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 410px;
        margin: 0 auto;

        &-links {
            margin-top: 16px;
        }

        &-links a {
            color: black;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;

        }



        &-input {
            width: 100%;
            position: relative;

            &:not(:last-of-type) {
                margin-bottom: 20px;
            }

            input {
                width: 100%;
                height: 64px;
                @include subtitle2(var(--color-black1));
                border-radius: 16px;
                background: var(--color-black8);
                border: none;
                outline: none;
                padding-left: 52px;
                padding-right: 60px;

            }

            svg {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                &:not(.icon-eye) {
                    left: 16px;
                    fill: var(--color-primary1);
                }

                &.icon-eye {
                    font-size: 28px;
                    color: var(--color-black4);
                    right: 16px;
                    cursor: pointer;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%) rotate(45deg);
                        width: 2px;
                        height: 100%;
                        background-color: var(--color-black4);
                        border-radius: 2px;
                        opacity: 0;
                        transition: all 0.1s ease-in-out;
                    }

                    &.active {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &-submit {
            width: 100%;
            padding: 20px 0;
            justify-content: center;
            margin-top: 32px;
            border-radius: 16px;
        }
    }

}