@import "base/index", "pages", "components/index";



.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;

    .ant-btn:not(.ant-input-search-button) {
        span {
            @include devices(sm) {
                display: none;
            }


        }
        .icon {
            display: none;
            fill: white;
            @include devices(sm) {
                display: block;
            }
        }

    }
}

.table-limit {
    width: 100%;
    margin-bottom: 16px;

}
