@mixin devices ($breakpoint) {

    @if $breakpoint==xl {
        @media only screen and (max-width: 1599px) {
            @content;
        }
    }

    @if $breakpoint==lg {
        @media only screen and (max-width: 1199px) {
            @content;
        }
    }

    @if $breakpoint==md {
        @media only screen and (max-width: 991px) {
            @content;
        }
    }

    @if $breakpoint==sm {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }
    @if $breakpoint==xs {
        @media only screen and (max-width: 575px) {
            @content;
        }
    }
}