.ant-collapse {
    &._1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: transparent;
        border: none;

        &>.ant-collapse-item {
            background-color: white;
            border-radius: 16px;
            box-shadow: 0px 2px 8px 0px rgba(var(--color-black), 0.10);
            overflow: hidden;


            &>.ant-collapse-header {
                padding: 20px 16px;
                flex-direction: row-reverse;
                align-items: center;
                @include headline2;

                .ant-collapse-expand-icon {
                    height: auto;
                    padding-inline-end: 0;
                    transition: all 0.3s ease-in-out;

                    i {
                        font-size: 22px;
                        color: var(--color-black3);
                    }
                }
            }

            &-active {
                &>.ant-collapse-header {
                    color: var(--color-green1);

                    .ant-collapse-expand-icon {
                        transform: rotate(180deg);
                    }
                }

            }

            &>.ant-collapse-content {
                border-top: none;

                &>.ant-collapse-content-box {
                    padding: 0 16px;

                    ul {
                        display: flex;
                        flex-direction: column;

                        li {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 16px 0;
                            border-top: 1px solid var(--color-black7);
                            @include body2;

                            span {
                                max-width: 50px;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: white;
                                border-radius: 16px;
                                background: var(--color-green1);
                            }

                        }
                    }
                }
            }

            &:last-child {
                border-radius: 16px;

                &>.ant-collapse-content {
                    border-radius: 0;
                }

                &>.ant-collapse-header {
                    border-radius: 0;
                }
            }
        }
    }

    &._2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: transparent;
        border: none;

        &>.ant-collapse-item {
            background-color: white;
            border-radius: 16px;
            box-shadow: unset;
            overflow: hidden;
            border: 1px solid var(--color-black6);
            padding: 0 10px;

            .accordion {
                &-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;


                    &-left {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        flex: 1;

                        label {
                            i {
                                display: block;
                                min-width: 20px;
                                height: 20px;
                                border: 1.5px solid var(--color-black5);
                                border-radius: 50%;
                                position: relative;
                                cursor: pointer;

                                &::after {
                                    content: '';
                                    position: absolute;
                                    left: 2px;
                                    top: 2px;
                                    right: 2px;
                                    bottom: 2px;
                                    border-radius: 50%;
                                    background-color: var(--color-primary1);
                                    opacity: 0;
                                    transition: all 0.2s ease-in-out;
                                }
                            }

                            input {
                                display: none;

                                &:checked~i {
                                    border-color: var(--color-primary1);

                                    &::after {
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        span {
                            @include body2;
                        }
                        small {
                            @include body3(var(--color-black3))
                        }
                    }

                    svg {
                        transition: all 0.3s ease-in-out;
                    }
                }

                &-body {
                    ul {
                        display: flex;
                        flex-direction: column;

                        li {
                            display: flex;
                            align-items: center;
                            padding: 10px 0;
                            border-top: 1px solid var(--color-black7);
                            gap: 6px;
                            @include body4(var(--color-black2))
                        }
                    }
                }
            }

            &.active {
                border-color: var(--color-primary1);
            }

            &>.ant-collapse-header {
                padding: 10px 0;
                flex-direction: row-reverse;
                align-items: center;
                @include body2;
                border-bottom: none;
                .ant-collapse-expand-icon {
                    display: none;
                }
            }
            &-active {
                .accordion {
                    &-header {
                        svg {
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            &>.ant-collapse-content {
                border-top: none;

                &>.ant-collapse-content-box {
                    padding: 0;
                }
            }



        }
    }

}