.ant {
    &-menu {
        &-title-content {
            display: flex;
            align-items: center;
            height: var(--aside-menu-height);
            border-radius: 8px;
            padding: 0 12px 0 14px;
            transition: all 0.3s ease-in-out;

            svg {
                margin-right: 10px;
                opacity: 0.6;
                fill: white;

            }

            span {
                @include button1(var(--color-white1));
                white-space: nowrap;
                overflow: hidden;
                transition: width 0.3s ease-in-out,
                    opacity 0.3s ease-in-out;
            }
        }

        &-item {
            &-selected {
                .ant-menu-title-content {
                    background-color: var(--color-white1);

                    span {
                        color: var(--color-black1);
                    }

                    svg {
                        opacity: 1;
                        fill: var(--color-primary1);
                    }
                }

                i {
                    transform: rotate(90deg) !important;
                }
            }


            &-active:not(.ant-menu-item-selected) {
                .ant-menu-title-content {
                    background-color: rgba(var(--color-white), 0.1);
                }
            }
        }

        &-submenu {
            &-title {
                border-radius: 8px;
                border: 1px solid transparent;
            }

            &-open {
                div {
                    border-color: rgba(var(--color-white), 0.20);
                }

                i {
                    transform: translateY(-50%) rotate(180deg) !important;
                }
            }

            &-popup {
                background-color: transparent !important;

                ul {
                    padding: 8px !important;
                    border-radius: 8px;
                    background: var(--color-black2) !important;

                    li {
                        height: auto !important;
                        line-height: unset !important;
                        margin-inline: unset !important;
                        margin-block: unset !important;
                        width: 100% !important;
                        padding: 0 !important;
                        height: 50px !important;

                        &.ant-menu-item-active {
                            background-color: white !important;

                            span {
                                color: var(--color-black1) !important;
                            }

                        }

                    }
                }
            }
        }
    }

    &-layout {
        &-sider {
            background-color: var(--sider-bg);

            &-children {
                height: 100%;
            }

            &-collapsed {
                .ant {
                    &-menu {
                        width: 100% !important;
                        border-inline-end: unset !important;

                        &-title {
                            &-content {
                                width: 100%;
                                margin-left: 2px;

                                &~.icon-angle-bottom {
                                    display: none;
                                }

                                svg {
                                    margin-right: 0;
                                }

                                // span {
                                //     width: 0;
                                //     opacity: 0;

                                //     @include devices(sm) {
                                //         width: 100%;
                                //         opacity: 0;
                                //     }
                                // }
                            }
                        }


                    }
                }

                .sider {
                    &-footer {
                        span {}
                    }
                }
            }
        }
    }

    &-tooltip {
        &-content {
            transform: translateX(12px) !important;

        }

        &-inner {
            display: flex;
            align-items: center;
            padding: 3px 8px !important;

            svg {
                display: none;
            }

            span {
                @include body4(var(--color-white1));
            }
        }
    }
}

.sider {
    &-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 16px;
    }

    &-header {
        margin-bottom: 12px;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(var(--color-white), 0.2);
        display: flex;
        gap: 16px;

        .icon-wrapper {
            display: none;

            @include devices(sm) {
                display: flex;
            }
        }

        h1 {
            margin: 0 auto;
            @include devices(sm) {
                margin: 0;
            }
        }
    }

    &-body {
        flex: 1;
        max-height: 100%;

        // #region globally configuration
        ul {
            background-color: transparent !important;

            li div,
            li {
                margin: 0 !important;
                padding: 0 !important;
                width: 100% !important;
                height: auto !important;

                &:active,
                &.ant-menu-item-selected {
                    background-color: transparent !important;
                }

                i {
                    color: white !important;
                    transition: all 0.2s ease-in-out;
                }
            }

            li {
                position: relative;

                div {
                    svg {
                        &.icon-angle-bottom {
                            position: absolute;
                            right: 12px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }

        }

        // #endregion globally configuration

        &>ul {
            &>li {
                &:not(:last-child) {
                    margin-bottom: 4px !important;
                }

                &>ul {
                    padding-left: 20px !important;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 8px;
                        top: 0;
                        height: calc(100% - (var(--aside-menu-height) / 2));
                        width: 1px;
                        background-color: var(--color-white1);
                        opacity: 0.2;
                    }

                    &>li {
                        margin-top: 4px !important;
                        position: relative;
                        overflow: unset !important;

                        &::before {
                            content: '';
                            position: absolute;
                            width: 8px;
                            height: 1px;
                            background-color: rgba(var(--color-white), 0.2);
                            top: 50%;
                            right: calc(100% + 4px);
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }

    &-footer {
        margin-top: 12px;
        overflow: hidden;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            background: linear-gradient(92deg, #4A51DD 0%, #4ED89D 78.7%);
            backdrop-filter: blur(5px);
            @include button2(var(--color-white1));
            height: 48px;
            white-space: nowrap;

            span {
                color: var(--color-white1);
                margin-left: 4px;
                text-transform: uppercase;
            }
        }
    }
}