.card {
    @include box;
    display: block;

    &._1 {
        cursor: pointer;
        .card {
            &-header {
                display: flex;
                align-items: center;
                gap: 8px;

                .ava {
                    margin-right: auto;
                }
            }

            &-line {
                margin: 16px 0;
                background-color: var(--color-black7);
                height: 1px;
            }

            &-footer {
                ul {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    li {
                        display: flex;
                        align-items: center;
                        flex: 1;
                        gap: 8px;
                        @include body2(var(--color-black2))
                    }
                }
            }

        }
    }

    &._2 {
        padding: 0 16px;

        ul {
            display: flex;
            flex-direction: column;

            li {
                &:first-child {
                    padding: 16px 0;
                }

                &:not(:first-child) {
                    padding: 12px 0;
                    border-top: 1px solid var(--color-black7);
                }
            }
        }
    }

    &._3 {
        display: flex;
        flex-direction: column;
        padding: 12px 12px 10px 12px;
        border-radius: 12px;
        border: 1px solid var(--color-black6);
        box-shadow: none !important;



        .card {


            &-image {
                padding-bottom: 100%;
                position: relative;
                margin-bottom: 10px;
                border-radius: 4px;
                overflow: hidden;

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    @include image;
                }
            }

            &-info {


                h3 {
                    @include body1(var(--color-black2))
                }

                &-bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-top: 10px;
                    margin-top: 10px;
                    border-top: 1px solid var(--color-black6);

                    span {
                        &._1 {
                            @include body3(var(--color-primary1))
                        }

                        &.tag-grey {
                            gap: 2px;
                            padding: 2px 4px;
                            border-radius: 8px;

                        }
                    }
                }
            }
        }
    }
}

.card-slide {
    max-width: 184px;
    width: 184px;
}