.header {
    height: var(--header-height);
    background-color: var(--color-white1);
    display: flex;
    align-items: center;
    padding: 0 16px;
    position: fixed;
    top: 0;
    right: 0;
    transition: all 0.2s ease-in-out;

    &-trigger {
        display: none;

        @include devices(sm) {
            display: block;
        }
    }

    &-left,
    &-right {
        flex: 1;
        display: flex;
        align-items: center;
    }

    &-right {
        justify-content: flex-end;

        .header-item {
            margin-left: 4px;
        }
    }

    &-left {
        .header-item {
            margin-right: 16px;
        }
    }

    &-coin {
        display: none;
    }

    &-item {
        .icon-wrapper {
            border: 1px solid var(--color-black7);
            background: var(--color-black8);

            svg {
                fill: var(--color-black1)
            }
        }

    }

    &-title {
        h1 {
            @include headline1(var(--color-black1));
        }
    }


    &-theme {
        padding: 4px;
        gap: 3px;
        display: flex;
        align-items: center;
        border-radius: 32px;
        border: 1px solid var(--color-black7);
        background: var(--color-black8);

        div {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 22px;
                height: 22px;
                fill: white;
            }
        }

        &-light {
            border-radius: 26px;
            background: var(--color-yellow1);
        }

        &-dark {
            opacity: 0;
        }
    }

    &-search {
        flex: 2;
        max-width: 450px;
        position: relative;

        svg {
            cursor: pointer;
            position: absolute;
            left: 14px;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            fill: var(--color-black5);
        }

        input {
            border-radius: 8px;
            border: 1px solid var(--color-black7);
            background: var(--color-black8);
            width: 100%;
            height: 50px;
            outline: none;
            padding-left: 50px;
            @include body2(var(--color-black2));

            &::placeholder {
                color: var(--color-black6);
            }
        }

    }

    &-profile {
        display: flex;
        align-items: center;
        cursor: pointer;

        &-image {
            width: 40px;
            height: 40px;
            border-radius: 8px;
            overflow: hidden;
            margin-right: 14px;

            img {
                @include image;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 16px;

            span {
                @include body1(var(--color-black1))
            }

            small {
                @include overline(var(--color-black5));

                text-transform: capitalize;
            }
        }
    }

    &-line {
        height: calc(var(--header-height) / 2);
        width: 1px;
        background-color: var(--color-black7);
        margin: 0 16px;
    }
}