.lang-switcher {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 6px;
    border-radius: 8px;
    border: 1px solid var(--color-black6);
    background: var(--color-white1);
    padding: 4px;

    label {
        &.ant-radio-button-wrapper {
            &::before {
                display: none;
            }

            &:last-child {
                border-start-end-radius: unset;
                border-end-end-radius: unset;
            }

            flex: 1;
            display: flex;
            align-items: center;
            height: 35px;
            line-height: unset;
            border-radius: 6px;
            background-color: transparent;
            border-block-start-width: unset;
            border-inline-end-width: unset;
            padding-inline: 0;
            border-inline-start: unset;
            border: 1px solid transparent;

            &-checked {
                background-color: var(--color-black7) !important;
                border-color: var(--color-black6) !important;

                &:focus,
                &:hover {
                    border-color: var(--color-black6) !important;
                }
            }
        }


        // border: 1px solid var(--color-black-6, #DBDBDB);
        // background: var(, #EDEDED);

        // border: 1px solid var(--color-black-6, #DBDBDB);
        // background: var(--color-black-7, #EDEDED);

        span {
            &.ant-radio-button {}

            &:not(.ant-radio-button) {
                margin: 0 auto;
                display: flex;
                align-items: center;
                @include body2(var(--color-black4));
                gap: 8px;
            }
        }
    }

}