

<template>
  <i
    v-if="wrapped"
    class="icon-wrapper"
    :style="style"
    :class="size"
    @click="emit('click')"
  >
    <component class="icon" :is="icon" :fill="fill" />
  </i>
  <component
    v-else
    class="icon"
    :class="`icon-${size}`"
    :is="icon"
    @click="emit('click')"
    :fill="fill"
  />
</template>


<script setup >
import { defineAsyncComponent } from "vue";
const emit = defineEmits(["click"]);
const props = defineProps({
  name: {
    type: String,
    required: true,
  },
  size: {
    type: String,
    default: "lg",
  },
  wrapped: {
    type: Boolean,
    default: false,
  },
  bordered: {
    type: Boolean,
    default: true,
  },
  radius: {
    type: Boolean,
    default: false,
  },
  fill: {
    type: String,
    default: "var(--color-black4)",
  },
});

const style = {
  border: props.bordered ? "" : "none !important",
  borderRadius: props.radius ? "50% !important" : "",
};

const icon = defineAsyncComponent(() =>
  import(`../../assets/svg/${props.name}.svg`)
);
</script>


<style lang="scss">
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-white1);
  border: 1px solid var(--color-black6);
  background: var(--color-primary1);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  .icon {
    fill: var(--color-white1);
  }
  // colors
  &.red {
    border: 1px solid var(--color-primary1);
    background: var(--color-primary2);
    .icon {
      fill: var(--color-primary1);
    }
  }
  &.white {
    background: var(--color-white1);
    &:hover {
      background-color: var(--color-primary1);
      .icon {
        fill: var(--color-white1);
      }
    }
  }
  // colors
  &.xxl {
    width: 40px;
    height: 40px;

    .icon {
      width: 22px;
      height: 22px;
    }
  }
  &.xl {
    min-width: 36px;
    height: 36px;
    border-radius: 8px;

    .icon {
      width: 22px;
      height: 22px;
    }
  }
  &.lg {
    min-width: 32px;
    height: 32px;
    border-radius: 8px;
    .icon {
      width: 22px;
      height: 22px;
    }
  }

  &.md {
    min-width: 24px;
    height: 24px;
    border-radius: 4px;
    .icon {
      width: 18px;
      height: 18px;
    }
  }
}

.icon {
  display: block;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &-xl {
    width: 24px;
    height: 24px;
  }

  &-lg {
    width: 22px;
    height: 22px;
  }

  &-md {
    width: 20px;
    height: 20px;
  }

  &-sm {
    width: 18px;
    height: 18px;
  }

  &-xs {
    width: 16px;
    height: 16px;
  }
}
</style>
