<template>
  <header class="header">
    <div class="header-left">
      <div class="header-trigger header-item">
        <SvgIcon
          name="trigger"
          @click="commonStore.setSiderCollapsed"
          :wrapped="true"
          size="lg"
        />
      </div>
      <div class="header-title">
        <h1>{{ commonStore.pagesTitle }}</h1>
      </div>
    </div>

    <div class="header-right">
      <div class="header-coin">
        <span class="tag-yellow bordered">
          <SvgIcon name="coin" :wrapped="true" />
          102
        </span>
      </div>
      <div class="header-profile">
        <div class="header-profile-image">
          <img src="../../assets/images/user.png" alt="ava" />
        </div>
        <div class="header-profile-info">
          <a-dropdown :trigger="['click']">
            <a class="ant-dropdown-link" @click.prevent>
              {{ userData?.name || 'admin' }}
            </a>
            <template #overlay>
              <a-menu>
                <a-menu-item>
                  <a @click.prevent="logoutHandler">Logout</a>
                </a-menu-item>
              </a-menu>
            </template>
          </a-dropdown>
        </div>
      </div>
    </div>
  </header>
</template>

<script setup>
import { storeToRefs } from 'pinia';
import { onMounted } from 'vue';
import { useRouter } from 'vue-router';
import { errorHandler } from '@/utils';

import { useAuthStore } from '@/store/auth';
import { useAuth } from 'vue3-shaxboz-auth';

const { logout, removeToken } = useAuth();
const authStore = useAuthStore();
const router = useRouter();

const { userData } = storeToRefs(authStore);

import { useCommon } from '@/store/common';

const commonStore = useCommon();

onMounted(() => {
  commonStore.setPagesTitle('');
});

const logoutHandler = async () => {
  try {
    localStorage.removeItem('auth.local');
    removeToken();
    router.push('/auth/sign-in');
  } catch (error) {
    errorHandler(error);
  }
};
</script>


