<template>
  <a-layout-sider class="sider" v-model:collapsed="siderCollapsed" :trigger="null" collapsible>
    <div class="sider-wrapper">
      <div class="sider-header">
        <div class="header-trigger header-item">
          <SvgIcon name="trigger" @click="commonStore.setSiderCollapsed" :wrapped="true" size="lg" />
        </div>
        <h1 class="text-headline1 white">Logo</h1>
      </div>
      <perfect-scrollbar class="sider-body">
        <a-menu mode="inline" width="auto">

          <a-menu-item v-for="item in menu" :key="item.path"
                       :class="{ 'ant-menu-item-selected': route.path === item.path }">
            <router-link :to="item.path">
              <span>{{ item.title }}</span>
            </router-link>
          </a-menu-item>
        </a-menu>
      </perfect-scrollbar>
    </div>
  </a-layout-sider>
</template>

<script  setup>
import { useCommon } from "@/store/common"
import { storeToRefs } from 'pinia';
import { useRoute } from 'vue-router';
import menu from "@/constants/menu/";

const commonStore = useCommon();
const route = useRoute();


const { siderCollapsed } = storeToRefs(commonStore)


</script>
