<template>
  <a-row type="flex">
    <a-col span="2" v-for="item in icons" :key="item">
      <div class="icon-library">
        <SvgIcon :name="item" />
        <span>{{ item }}</span>
      </div>
    </a-col>
  </a-row>
</template>

<script setup>
const icons = [
  'login',
  'contact',
  'angle-bottom',
  'angle-double-left',
  'angle-double-right',
  'angle-left',
  'angle-right',
  'angle-top',
  'apps-add',
  'bars-add',
  'bell',
  'calendar',
  'clock-stop',
  'clock',
  'close',
  'coin',
  'document',
  'dots',
  'drag-drop',
  'drag',
  'edit',
  'eye',
  'file',
  'first-place',
  'flag',
  'folder-add',
  'global',
  'go-email',
  'graduate',
  'lang',
  'lock',
  'logout',
  'minus',
  'moon',
  'not-refresh',
  'people',
  'person',
  'phone',
  'plus',
  'refresh',
  'rubbish',
  'save',
  'search',
  'setting',
  'smartphone',
  'son',
  'star',
  'success',
  'trigger',
  'upload',
  'uploader',
  'user-add',
  'warning',
  'wide',
  'xls',
];
</script>