@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('GTEestiProDisplay-Bold.eot');
    src: local('GT Eesti Pro Display Bold'), local('GTEestiProDisplay-Bold'),
        url('GTEestiProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('GTEestiProDisplay-Bold.woff2') format('woff2'),
        url('GTEestiProDisplay-Bold.woff') format('woff'),
        url('GTEestiProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('GTEestiProDisplay-Light.eot');
    src: local('GT Eesti Pro Display Light'), local('GTEestiProDisplay-Light'),
        url('GTEestiProDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('GTEestiProDisplay-Light.woff2') format('woff2'),
        url('GTEestiProDisplay-Light.woff') format('woff'),
        url('GTEestiProDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('GTEestiProDisplay-Medium.eot');
    src: local('GT Eesti Pro Display Medium'), local('GTEestiProDisplay-Medium'),
        url('GTEestiProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('GTEestiProDisplay-Medium.woff2') format('woff2'),
        url('GTEestiProDisplay-Medium.woff') format('woff'),
        url('GTEestiProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('GTEestiProDisplay-Regular.eot');
    src: local('GT Eesti Pro Display Regular'), local('GTEestiProDisplay-Regular'),
        url('GTEestiProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('GTEestiProDisplay-Regular.woff2') format('woff2'),
        url('GTEestiProDisplay-Regular.woff') format('woff'),
        url('GTEestiProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

