<template>
  <div class="layout">
    <SideBar />
    <div class="sider-overlay"></div>
    <Header />
    <div class="layout-wrapper">
      <router-view></router-view>
    </div>
  </div>
</template>
<script  setup>
import Header from '@/components/layout/Header.vue';
import SideBar from '@/components/layout/SideBar.vue';
import { useAuthStore } from '@/store/auth';
import { inject } from 'vue';

const authStore = useAuthStore();
const userData = localStorage.getItem('user');
authStore.setUserData(JSON.parse(userData));
</script>
<style></style>
