<template>
  <div class="auth-form">
    <a-form
      class="w100"
      layout="vertical"
      :rules="rules"
      ref="formRef"
      :model="form"
      @finish="submitData"
    >
      <a-form-item label="login" name="login">
        <a-input v-model:value="form.login" />
      </a-form-item>
      <a-form-item label="Password" name="password">
        <a-input-password v-model:value="form.password" />
      </a-form-item>
      <a-button class="w100" type="primary" html-type="submit">Submit</a-button>
    </a-form>
    <div class="auth-form-links">
      <router-link to="/auth/sign-up">Sign Up</router-link>
    </div>
  </div>
</template>

<script setup >
import { reactive, ref } from 'vue';
import { useAuthStore } from '@/store/auth';
import { notification } from 'ant-design-vue';

//Utils
import { errorHandler, parseJwt } from '@/utils';
import { useAuth } from 'vue3-shaxboz-auth';

const { login: loginMethod } = useAuth();

const authStore = useAuthStore();

const formRef = ref();
const form = reactive({
  login: 'shaxboz.nv@mail.ru',
  password: '12345678',
});

const rules = {
  login: [
    {
      required: true,
      message: 'Please input your login!',
    },
    {
      type: 'email',
      message: 'Please input your login as email!',
    },
  ],
  password: [
    {
      required: true,
      message: 'Please input your password!',
    },
    {
      min: 6,
      message: 'Please input your password min 6 symbols!',
    },
  ],
};
const submitData = async () => {
  try {
    const data = await loginMethod({
      credential: form.login,
      password: form.password,
    });
    const userData = parseJwt(data.access_token);
    localStorage.setItem('user', JSON.stringify(userData));
    authStore.setAuth(true);
    authStore.setUserData(userData);
    // router.push('/contacts');
  } catch (e) {
    console.log(e);

    errorHandler(notification, e);
  }
};
</script>


