<template>
  <div class="auth-form">
    <a-form
      class="w100"
      layout="vertical"
      :rules="rules"
      ref="formRef"
      :model="form"
      @finish="submitData"
    >
      <a-form-item label="Name" name="name">
        <a-input v-model:value="form.name" />
      </a-form-item>

      <a-form-item label="login" name="login">
        <a-input v-model:value="form.login" />
      </a-form-item>
      <a-form-item label="Password" name="password">
        <a-input-password v-model:value="form.password" />
      </a-form-item>

      <a-button class="w100" type="primary" html-type="submit">Submit</a-button>
    </a-form>
    <div class="auth-form-links">
      <router-link to="/auth/sign-in">Sign In</router-link>
    </div>
  </div>
</template>

<script setup>
import { inject, reactive, ref } from 'vue';
import { useRouter } from 'vue-router';

import { errorHandler } from '@/utils';
import { notification } from 'ant-design-vue';

const router = useRouter();
const $api = inject('$api');

const formRef = ref();
const form = reactive({
  name: '',
  login: '',
  password: '',
});
const rules = {
  name: [
    {
      required: true,
      message: 'Please input your name!',
    },
  ],
  login: [
    {
      required: true,
      message: 'Please input your email!',
    },
  ],
  password: [
    {
      required: true,
      message: 'Please input your password!',
    },
    {
      min: 6,
      message: 'Password must be at least 6 characters long',
    },
  ],
};
const submitData = async () => {
  try {
    await formRef.value.validate();

    const submitData = {
      email: form.login,
      emailConfirmCode: '111111',
      password: form.password,
      userinfo: {
        name: form.name,
      },
    };
    await $api.auth.confrmEmail({
      email: form.login,
      use_call: true,
    });
    await $api.auth.register(form);
    router.push('/auth/sign-in');
  } catch (e) {
    errorHandler(notification, e);
  }
};
</script>
